<div>aaas</div>
{% schema %}
{
  "name": "nav-bar",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["footer"]
  },
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "only_desktop",
      "default": false,
      "label": "only show on desktop"
    },
{
  "type": "range",
  "id": "top",
  "label": "Top Position",
  "min": 0,
  "max": 80,
  "step": 1,
  "default": 0
},
{
  "type": "range",
  "id": "left",
  "label": "Left Position",
  "min": 0,
  "max": 80,
  "step": 1,
  "default": 0
},{
      "type": "header",
      "content": "Logo"
    },{
  "type": "image_picker",
  "id": "logo",
  "label": "Logo"
},{
  "type": "range",
  "id": "logo_width",
  "label": "Logo Size",
  "min": 100,
  "max": 500,
  "step": 20,
  "default": 200
}
  ,{
      "type": "header",
      "content": "Navigatior"
    },{
  "type": "range",
  "id": "nav_margin_top",
  "label": "Navigation Margin Top",
  "min": 0,
  "max": 50,
  "step": 1,
  "default": 5
},{
  "type": "range",
  "id": "font_size",
  "label": "Font Size",
  "min": 0.5,
  "max": 5,
  "step": 0.1,
  "default": 2
},{
  "type": "range",
  "id": "font_space",
  "label": "Font Space",
  "min": 0,
  "max": 10,
  "step": 0.1,
  "default": 0
}],
  "blocks": []
}
{% endschema %}
